:host {
	display: block;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 4px;
	overflow: hidden;

  span {
    background-color: var(--accent);
    color: white;
    padding: 1rem;
    height: 100%;
  }

  p {
    padding: 1rem;
    margin: 0;
  }
}
