<form *ngIf="note" #formId="ngForm">
	<input [(ngModel)]='note.title' required minlength="5" #contentField name="content">
	<p>{{contentField.validationMessage}}</p>
	<button type="submit" [disabled]="!formId.valid" (click)="saveNote($event, formId.value)">Save</button>
</form>
