main {
  padding: 2rem;
}

nav {
  background-color: var(--background-color-2);
  margin: -2rem -2rem 1rem;
  padding: 1rem;
  box-shadow: var(--shadow);

  a {
    color: var(--text-color-2);

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

}
