	
	<input type="text" name="content" [(ngModel)]="newNote">
	
	<p>Your note: {{newNote}}</p>
	
	<app-note-view *ngFor="let note of notes; index as i" [note]="note" [id]="note.id" (noteClick)="onNoteClick($event, note)">
	</app-note-view>