@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
}

.dark {
  --text-color: white;
  --text-color-2: white;
  --background-color-1: hsl(0, 0%, 25%);
  --background-color-2: hsl(245, 30%, 15%);
  --shadow: 0px 3px 10px 0 hsla(0, 0%, 0%, 0.3);
  --accent: hsl(0, 89%, 56%);
}

.light {
  --text-color: #333;
  --text-color-2: white;
  --background-color-1: whitesmoke;
  --background-color-2: hsl(232, 64%, 29%);
  --shadow: 0px 3px 10px 0 hsla(0, 0%, 0%, 0.3);
  --accent: hsl(239, 89%, 56%);
}

* {
  box-sizing: border-box;
  transition: background-color 150ms ease;
}

html {
  font-size: 26px;
}

body {
  color: var(--text-color);
  background-color: var(--background-color-1);
  font-family: var(--font-family);
  margin: 0;
}

a {
  color: var(--text-color);
}

input {
  font-family: var(--font-family);
}

h1 {
  font-size: 3rem;
  margin: 0 0 2rem;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--background-color-1);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 4px;
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: var(--background-color-2);
  color: var(--text-color-2);
}
